
body {
    background-color: #00674b;
}

nav {

    padding:2rem;
    background-color: aliceblue;
    position:fixed;
    top:0;
    left:0;
    right:0
}

.section {
    margin-top: 4rem;
}

textarea{

    padding: 2em;
    font-size:1em;
    width:30em;
    height:15em
}